<p>
  Bare Min Posts works!
</p>
<a [routerLink]="['/welcome']">Home</a>

<div>

  <button (click)="getPostsIdAndTitle()">Get Post IDs and Titles</button>
  <div>
    <p>
      initiate read of a result from the server without casting of the response.
    </p>
    <p>
      The server responded with an anonymous Object type but it is assumed that the response is an array of json objects and then
      iterating over each of them and accessing specific properties with the bracket notation in order to form an array of
      objects that only have ID and Title properties before binding that new array
    </p>
  </div>
  <pre>{{postsIDsandTitles | json }}</pre>

</div>

<!-- using ngIf with an async pipe to manage a single subscription to an observable -->
<div *ngIf="posts$ | async; let p; else loading">
  Bare Min
  <ul>
    <li>loading the posts with get, no casting to a specific model, no error handling, no processing of any headers</li>
    <li>use of the async pipe removes the necessity to subscribe to the observable</li>
  </ul>
  This can be useful if the response contains the exact structure as the one needed to be loaded into the component
  <pre>
    {{ p | json }}
  </pre>
</div>

<ng-template #loading>
  Loading ...
  <i class="fa fa-spinner fa-pulse"></i>
</ng-template>